body {
  font-family: 'Gentium Basic', serif;
  color: #333;
  background-color: #fefefe;
}

html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  color: #8b2;
  text-decoration: none;
  outline: 0;
  line-height: inherit;
}

a:hover {
  color: #a5db39;
}

html {
  font-size: 100.00%;
  line-height: 1;
}

html {
  font-size: 112.50%;
  line-height: 1;
}

body {
  margin: auto;
  margin-top: 2rem;
  width: 60rem;
}

.success {
  color: #fefefe;
  background-color: #9c3;
}

.success:hover {
  color: #ffffff;
  background-color: #b2d865;
}

.alert {
  color: #fefefe;
  background-color: #c93;
}

.alert:hover {
  color: #ffffff;
  background-color: #d8b265;
}

h1 {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 4.00rem;
  line-height: 5rem;
}

h1 + h1 {
  font-weight: normal;
  margin-top: -1rem;
}

h1:first-child {
  margin-top: 0;
}

h2 {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 3.20rem;
  line-height: 4rem;
}

h2 + h2 {
  font-weight: normal;
  margin-top: -1rem;
}

h2:first-child {
  margin-top: 0;
}

h3 {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 2.40rem;
  line-height: 3rem;
}

h3 + h3 {
  font-weight: normal;
  margin-top: -1rem;
}

h3:first-child {
  margin-top: 0;
}

h4 {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 1.60rem;
  line-height: 2rem;
}

h4 + h4 {
  font-weight: normal;
  margin-top: -1rem;
}

h4:first-child {
  margin-top: 0;
}

h5 {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 0.80rem;
  line-height: 1rem;
}

h5 + h5 {
  font-weight: normal;
  margin-top: -1rem;
}

h5:first-child {
  margin-top: 0;
}

footer {
  width: 100%;
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px solid silver;
  text-align: center;
}

footer, footer p {
  font-family: 'Oxygen', sans-serif;
  font-size: 0.80rem;
  line-height: 1rem;
}

nav {
  margin-bottom: 2rem;
}

nav .logo {
  display: inline-block;
  padding-right: 2rem;
  vertical-align: middle;
  width: 24rem;
}

nav .logo h1 {
  font-size: 7.50rem;
  line-height: 6rem;
  letter-spacing: 0.25rem;
  color: black;
  font-family: 'Gentium Basic', serif;
}

nav .blurb {
  display: inline-block;
  padding-right: 2rem;
  padding-left: 2rem;
  vertical-align: middle;
  width: 30rem;
}

nav .blurb p {
  font-size: 1.71rem;
  line-height: 2rem;
  font-family: 'Oxygen', sans-serif;
}

.feature {
  display: inline-block;
  padding-right: 2rem;
  font-size: 1.23rem;
  line-height: 2rem;
  vertical-align: top;
  width: 42rem;
}

aside {
  display: inline-block;
  padding-right: 2rem;
  vertical-align: top;
  width: 18rem;
}

.feature ul, aside ul {
  margin-left: 2em;
}

.blog.summary ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.blog.summary li {
  margin-bottom: 2rem;
  clear: both;
}

.blog.summary li .note {
  display: none;
}

.blog.summary li figure {
  width: 14rem;
  float: right;
  margin-right: 0;
  margin-left: 2rem;
}

.blog.summary li figure img {
  width: 13rem;
}

.blog.summary li figure .icon {
  font-size: 8rem;
  text-align: center;
}

 .byline {
  font-family: 'Oxygen', sans-serif;
  margin-top: -1rem;
}

 .byline .author,  .byline .published {
  margin-right: 0.5rem;
}

 .byline .author {
  font-weight: bold;
}

.blog, .article {
  position: relative;
  width: 42rem;
}

.blog figure, .article figure {
  float: left;
  width: 19rem;
  margin-right: 2rem;
  margin-left: 0;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid silver;
}

.blog figure img, .article figure img {
  width: 18rem;
}

.blog figure .icon, .article figure .icon {
  font-size: 12rem;
  text-align: center;
}

.blog figure figcaption, .article figure figcaption {
  font-size: 0.62rem;
  line-height: 1rem;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid silver;
  font-family: 'Oxygen', sans-serif;
}

 blockquote {
  font-size: 75%;
  color: #434343;
}

.post .note {
  position: absolute;
  left: 44rem;
  font-size: 0.62rem;
  line-height: 1rem;
  margin-top: 1rem;
  width: 14rem;
}

.panel {
  width: 100%;
  text-align: right;
  margin-top: 1rem;
}

.button {
  display: inline-block;
  min-width: 6rem;
  padding: 1rem;
  border-radius: 0.25rem;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-family: 'Oxygen', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.button.small {
  padding: 0.5rem;
  min-width: 4rem;
  font-size: 1rem;
}

.panel .button {
  margin-right: 1rem;
}

.bump.down.one {
  margin-top: 1rem;
}

form {
  border: 1px solid silver;
  border-radius: 0.25rem;
  padding: 2rem;
}

form .mc-field-group {
  margin-bottom: 1rem;
}

form .mc-field-group label {
  display: inline-block;
  padding: 0.5rem;
  width: 20%;
  text-align: right;
}

form .mc-field-group input, form .mc-field-group textarea, form .mc-field-group select, form .mc-field-group div.control {
  display: inline-block;
  width: calc(80% - 2rem);
  border: 1px solid silver;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

form .mc-field-group input[type='radio'], form .mc-field-group input[type='checkbox'] {
  width: 1.5rem;
  margin-left: 20%;
}

form .mc-field-group input[type='radio'] + label, form .mc-field-group input[type='checkbox'] + label {
  width: calc(80% - 3rem);
  text-align: left;
  padding: 0;
}

@font-face {
  font-family: 'Heydings';
  src: url('/font/heydings_icons-webfont.eot');
  src: url('/font/heydings_icons-webfont.eot?#iefix') format('embedded-opentype'),
       url('/font/heydings_icons-webfont.woff') format('woff'),
       url('/font/heydings_icons-webfont.ttf') format('truetype'),
       url('/font/heydings_icons-webfont.svg#heydings_iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
nav .panel {
  text-align: left;
}

a.rss:before {
  font-family: 'Heydings';
  content: 'R ';
}

.icon {
  font-family: 'Heydings';
}

